* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #edeef0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

nav {
    background: transparent !important;
}

nav .navabar-button {
    float: right !important;
    border: none !important;
}

.offcanvas-title {
    text-transform: capitalize !important;
}

main {
    min-height: 100vh;
}

.profile-image {
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: 50 50;
}

.profile-information {
    border-radius: 20px 20px 20px 20px;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: white;
    height: 450px;
    margin-top: 100px;
}

.all-profile-information {
    float: left;
}

.profile-information-out i {
    color: black;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 20px;
}

.profile-information-userImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.profile-information-userImage img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

form {
    padding: 40px !important;
    padding-right: 100px !important;
    border-radius: 10px 10px 10px 10px;
    width: 100% !important;
}

form h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

form span {
    color: black !important;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #343a68 !important;
    border-radius: 0 0 0 0 !important;
}

form input {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid #343a68 !important;
    border-radius: 0 0 0 0 !important;
}

form .errors .error-text {
    color: red;
    margin-bottom: 0px !important;
}

form button {
    margin-top: 5px !important;
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
    border-radius: 0 0 0 0 !important;
    border-radius: 20px 20px 20px 20px !important;
    border: none !important;
    width: 250px !important;
    height: 45px !important;
}

.profile-information-div {
    margin: auto;
    display: flex;
    justify-content: center;
}

@media (max-width: 1250px) {
    form {
        padding: 30px !important;
    }
}

@media (max-width: 1100px) {
    .profile-information-userImage {
        margin-left: 30px;
    }
}

@media (max-width: 1075px) {
    .profile-information-userImage {
        width: 250px;
        height: 250px;
    }
    .profile-information-userImage img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 1000px) {
    .profile-information-user {
        text-align: center;
    }
    .profile-information-user h2 {
        font-size: 28px;
        text-align: center;
    }
}

@media (max-width: 970px) {
    .profile-information-div {
        display: inherit;
    }
    .profile-information-userImage img {
        width: 275px;
        height: 275px;
    }
    .profile-information-userImage {
        margin: 0px;
        width: 275px;
        height: 275px;
    }
    .profile-information {
        padding: 10px;
        height: auto;
        display: inline;
    }
    .all-profile-information {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .profile-information-div {
        display: flex;
        justify-content: center;
    }
    .profile-information {
        padding: 10px;
        height: auto;
        display: inline;
    }
}

@media (max-width: 425px) {
    .profile-information {
        width: 100%;
    }
}