* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #edeef0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

nav {
    background: transparent !important;
}

nav .navabar-button {
    float: right !important;
    border: none !important;
}

.offcanvas-title {
    text-transform: capitalize !important;
}

main {
    min-height: 100vh;
}

.profile-image {
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: 50 50;
}

.profile-information {
    border-radius: 20px 20px 20px 20px;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: white;
    height: 450px;
    margin-top: 100px;
}

.all-profile-information {
    float: left;
}

.profile-information-userImage {
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.profile-information-userImage img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.profile-information-user {
    margin-bottom: 10px;
}

.profile-information-user h2 {
    font-size: 42px;
    text-transform: capitalize;
}

.profile-information-user-icons i {
    font-size: 18px;
    color: rgb(75, 75, 75) !important;
    margin-right: 5px;
}

.profile-information-user p {
    font-size: 20px;
    color: #848484;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    text-transform: capitalize;
}

.profile-information-button {
    margin-bottom: 15px;
}

.profile-information-button a {
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
    font-weight: 600;
    color: white;
}

.profile-information-button a:hover {
    color: white;
}

.profile-information-user h3 {
    font-size: 25px;
    margin-bottom: 5px;
}

.list-menu-li {
    display: flex;
    align-items: center;
}

.list-menu-li i {
    float: right;
}

.ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul div p {
    margin-bottom: 0px !important;
}

.author {
    font-size: 10px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 95%;
}

.author a {
    margin-left: 3px;
}

@media (max-width: 1000px) {
    .profile-information-user h2 {
        text-align: center;
    }
    .profile-information-user p {
        text-align: center;
    }
    .profile-information-button {
        text-align: center;
    }
    .profile-information-user {
        text-align: center;
    }
    .ul div p {
        text-align: center !important;
    }
}

@media (max-width: 1075px) {
    .profile-information-userImage {
        width: 275px;
        height: 275px;
    }
    .profile-information-userImage img {
        width: 275px;
        height: 275px;
    }
}

@media (max-width: 850px) {
    .profile-information-userImage {
        width: 275px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 770px) {
    .profile-information {
        padding: 10px;
        height: auto;
        display: inline;
    }
    .all-profile-information {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .profile-information {
        width: 100%;
    }
}